<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="E2_Transporte.Properties.Settings.E2_ConnectionString"
            connectionString="Server=localhost; Database=transporte; User=xxx; Password=xxx; Integrated Security=true; SslMode=none"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>